.navbar {
  background-color: #331ba8;
  color: #fff;

  .container {
    display: flex;
    justify-content: space-between;
    max-width: 1320px;
    padding: 20px 15px;
    margin: 0 auto;

    .logo {
      font-size: 18px;
      font-weight: 700;
      color: #fff;
    }

    .navigation {
      display: flex;
      align-items: center;
      a {
        margin-left: 15px;
        color: #fff;
      }
    }
  }
}